<aside class="grid__sidebar">
    <div class="grid__widget">
        <h2>More info.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim suscipit, sunt nostrum voluptatem ipsam et
            aliquam
            mollitia nihil molestiae consectetur, quibusdam porro voluptatum distinctio nulla incidunt voluptas impedit
            libero temporibus.</p>
    </div>

    <div class="grid__widget blue">
        <h2>More info.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ducimus tempora iure laudantium. Veritatis delectus vel tempora ipsam eius aspernatur dolorem nobis accusamus cum quod.</p>
    </div>

    <div class="grid__widget">
        <h2>More info.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat vitae accusantium eius assumenda porro error sunt dolor.</p>
    </div>

</aside>